 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content-container {
    padding: 16px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 8px;
    border: 1px solid #333;
    width: 1200px;
    min-height: 600px;
}

.content-container-small {
    color: white;
    position:absolute;
    left: 20%;
    padding: 16px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 8px;
    border: 1px solid #333;
    min-height: 600px;
}

/* Keyframe animations for sliding up and down */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
  /* Classes for applying the animations */
.slide-down {
    animation: slideDown 0.5s ease-out;
}
  
.slide-up {
    animation: slideUp 0.5s ease-out;
}
  